<div class="panel-body fieldset-wrapper">
  <div class="legal-terms">
    <h3>Transport for NSW - Open Data Hub Terms</h3>
    <p>1. OVERVIEW</p>
    <ol type="a">
      <li>The opendata.transport.nsw.gov.au website (the Hub) is owned by Transport for NSW (TfNSW, we, us).
        This agreement describes the terms that govern the use of the Hub by the user that completes the
        online registration process (you).</li>
      <li>As a user of the Hub, you must accept all of the terms contained in this agreement and our policies,
        including our Acceptable Use Policy, Privacy Statement and Privacy Policy (Policies). You agree that
        the Policies, which may change from time to time, form part of this agreement and are collectively
        referred to as the "Hub Terms". By accepting this agreement you agree to be bound by all the Hub
        Terms.</li>
      <li>We may vary or modify the Hub Terms from time to time. The amended Hub Terms will be posted on the
        Hub. Any subsequent access to, or use by you of, the Hub will constitute acceptance of these Hub
        Terms as they appear at that time.</li>
      <li>In this agreement, a reference to "you" includes a reference to anyone acting on your behalf or with
        your express or implied authority.</li>
    </ol>
    <p>2. ACCESS TO DATASETS</p>
    <ol type="a">
      <li>The Hub provides access to a number of datasets that are owned by TfNSW or other public transport
        agencies. We may change the datasets and suspend, terminate or restrict access at any time.</li>
      <li>The datasets are only available to persons and entities who are capable of forming legally binding
        contracts under applicable law. Your rights are not transferable, unless otherwise agreed by us.
      </li>
      <li>You must be a registered user before you can use the Hub. To register as a user of the Hub, please
        click <a href="http://www.opendata.transport.nsw.gov.au" target="_blank">www.opendata.transport.nsw.gov.au</a>.
        We reserve the right to refuse to
        register a user of the Hub for any reason.</li>
      <li>You warrant that all information provided by you on registration is valid and correct. Information
        registered with someone else's email address, or with temporary email addresses, may result in
        access being suspended without notice. We may require users to re-validate their registration if we
        believe they have been using invalid or incorrect information for registration.</li>
      <li>You acknowledge and agree that access and use of the Hub and datasets is subject to our Acceptable
        Use Policy at <a href="https://developer.transport.nsw.gov.au"
          target="_blank">https://developer.transport.nsw.gov.au</a>. Failure to comply with the
        Acceptable Use Policy may result in termination or suspension of your access or use of the Hub and
        datasets.</li>
      <li>You must keep all of your passwords and registration details secure and not disclose them to or
        share them with any third party.</li>
    </ol>
    <p>3. OBLIGATIONS</p>
    <ol type="a">
      <li>You must not:<p></p>
        <ol type="i">
          <li>use the Hub for any activities which breach any laws or regulations or infringe any third
            party rights;</li>
          <li>use the Hub for fraud or any misleading or deceptive conduct;</li>
          <li>use the personal information of another person in order to access or use the Hub;</li>
          <li>tamper with, hinder the operation of or make unauthorised modifications to the Hub; or</li>
          <li>transmit any bug, virus or other disabling feature to or through the Hub.</li>
        </ol>
      </li>
      <li>You must not post any content or information on any forums or blogs on the Hub which is or is likely
        to be:<br>
        <ol type="i">
          <li>abusive, obscene, offensive or indecent;</li>
          <li>defamatory of any person;</li>
          <li>in breach of the intellectual property rights or moral rights of any person;</li>
          <li>in breach of any obligations of privacy or confidence;</li>
          <li>harassing, insulting or vilifying of any person, including based on race, religion, sexual
            orientation, gender, age or disability;</li>
          <li>in breach of any laws; or</li>
          <li>false, misleading or deceptive.</li>
        </ol>
      </li>
    </ol>
    <p>4. INFORMATION AND CONTENT</p>
    <ol type="a">
      <li>The content and format of the Hub may be changed by us at any time, without notice, in our
        discretion.</li>
      <li>The Hub may include datasets that are owned by us or other public transport agencies. You
        acknowledge and agree that access to such datasets will be governed by the terms of Creative Commons
        Attribution 4.0 International Public License (Datasets Licence). You agree to comply with the terms
        of the Datasets Licence and that a breach of the Datasets Licence will be deemed to be a breach of
        these Hub Terms.</li>
      <li>The Hub may include information and content provided by third parties (Third Party Information). We
        do not verify Third Party Information, which may not be complete, timely or accurate for your
        purposes. We make no representation or warranty of any kind as to the accuracy, timeliness or
        completeness of Third Party Information, nor do we endorse any Third Party Information.</li>
      <li>Information posted on any forum or blog by users of the Hub has not been independently verified by
        us. We are not liable for any incorrect, misleading, deceptive, defamatory or offensive material
        which is posted on any forum, nor are we liable for any material posted on any forum or blog which
        is a breach of any intellectual property rights, moral rights, privacy rights or any law.</li>
    </ol>
    <p>5. SECURITY</p>
    <ol type="a">
      <li>We do not guarantee the security of the Hub. We do not warrant that access to the Hub will be
        uninterrupted or error free, that defects will be corrected, or that the Hub or the server that
        makes it available are free of viruses or bugs. You acknowledge that it is your responsibility to
        implement sufficient procedures and virus checks to satisfy your own requirements.
      </li>
      <li>Should you access or leave Hub via a third party link, you acknowledge that:<br>
        <ol type="i">
          <li>you do so at your own risk;</li>
          <li>the content to which you link will not have been produced, checked for accuracy or otherwise
            reviewed by us; and</li>
          <li>the link does not represent any endorsement by us of the products or services on the linked
            site.</li>
        </ol>
      </li>
    </ol>
    <p>6. INTELLECTUAL PROPERTY</p>
    <ol type="a">
      <li>Except for your content provided to any forums or blogs on the Hub, all intellectual property rights
        in the Hub, including any information, datasets, software and tools accessed via the Hub, will
        remain vested in us (or the relevant public transport agency).</li>
      <li>Subject to your rights to access the datasets in accordance with the Datasets Licence, you may not
        copy, reproduce, modify, reverse engineer, disassemble, decompile, transmit or communicate to the
        public the Hub, or any information, datasets, software or tools accessed via the Hub.</li>
      <li>You are not permitted to use or reproduce any logos or trademarks of TfNSW or any other public
        transport agency in connection with the datasets.</li>
      <li>You must attribute us (or the relevant public transport agency) as the owner or licensor of the
        datasets in accordance with the Datasets Licence. However, you must not use the datasets in a way
        that suggests any official status or that we or any other public transport agency endorse you or
        your products or use of the datasets.</li>
    </ol>
    <p>7. PRIVACY</p>
    <ol type="a">
      <li>Our Privacy Statement <a
          href="https://opendata.transport.nsw.gov.au/sites/default/files/TfNSW-Privacy.pdf">https://opendata.transport.nsw.gov.au/sites/default/files/TfNSW-Privacy.pdf</a>
        and Privacy Policy <a
          href="https://www.transport.nsw.gov.au/about-us/transport-privacy"
          target="_blank">https://www.transport.nsw.gov.au/about-us/transport-privacy</a>
        applies to any personal information collected by us from users of the Hub.</li>
      <li>You must comply with all applicable privacy laws in connection with your use of the Hub and any
        datasets available via the Hub.</li>
    </ol>
    <p>8. LIMITATION OF LIABILITY</p>
    <ol type="a">
      <li>The terms of this clause 8 apply in respect of access to or use of the Hub but not in respect of
        access to or use of the datasets available through the Hub.</li>
      <li>To the extent permitted by law:<br>
        <ol type="i">
          <li>we give no warranties, and you have no other rights, apart from those, if any, expressly set
            out in the Hub Terms or available under legislation; and</li>
          <li>all implied conditions, guarantees, warranties and rights are excluded.</li>
        </ol>
      </li>
      <li>To the extent permitted by law, we do not give any warranty of reliability, quality, fitness for
        purpose or accuracy nor accept any responsibility arising in connection with any errors in, or
        omissions from, the information, datasets, software or tools provided on or by the Hub.</li>
      <li>Where any condition, guarantee, warranty or right is implied by law and cannot be excluded, to the
        extent permitted by law we limit our liability:<br>
        <ol type="i">
          <li>in connection with the supply of goods, to any one or more of the following, as we may
            determine- the replacement of the goods or the supply of equivalent goods, the repair of the
            goods, the payment of the costs of replacing the goods or of acquiring equivalent goods or
            the payment of the costs of having the goods repaired; and</li>
          <li>in connection with the supply of services, to one of the following, as we may determine- the
            supplying of the services again or the payment of the costs of having the services supplied
            again.</li>
        </ol>
      </li>
      <li>Subject to clauses 8(b) and 8(d), we are not liable to you in contract, tort (including negligence),
        under any statute or otherwise for, or in respect of, any:<br>
        <ol type="i">
          <li>indirect or consequential loss or damage; or</li>
          <li>loss of profits, reputation, goodwill, customers, software or data, whether of a direct,
            indirect or consequential</li>
          <p> nature.
          </p>
        </ol>
      </li>
      <li>Subject to this clause 8, our total and aggregate liability in contract, tort (including
        negligence), under statute or otherwise for, or in respect of, any loss or damage arising out of any
        breach or other act or omission in connection with these Hub Terms will not exceed $250.</li>
    </ol>
    <p>9. TERMINATION AND SUSPENSION</p>
    <ol type="a">
      <li>If you fail to abide by or otherwise breach the Hub Terms, we may immediately without notice or
        liability to you suspend, limit or terminate your access and / or use of the Hub.</li>
      <li>If we suspend, limit or terminate your access and / or use of the Hub, you must not attempt to
        access or use the Hub in any way whatsoever including by re-registering on the Hub or otherwise.
      </li>
      <li>Upon termination of your access and / or use of the Hub, you must:<br>
        <ol type="i">
          <li>discontinue any and all use of the Hub; and</li>
          <li>not in any way whatsoever attempt to access or use the Hub.</li>
        </ol>
      </li>
    </ol>
    <p>10. MISCELLANEOUS</p>
    <ol type="a">
      <li>The Hub Terms record the entire agreement between you and us, and supersede all previous
        negotiations, understandings, representations and agreements, in relation to its subject matter.
      </li>
      <li>Except as specifically permitted under this agreement, these Hub Terms cannot be amended except in
        writing signed by you and us.</li>
      <li>If any part of the Hub Terms is for any reason unenforceable, that part must be read down to the
        extent necessary to preserve its operation. If it cannot be read down, it must be severed.</li>
      <li>Any failure or delay by us to exercise or enforce the Hub Terms does not waive our rights to enforce
        the Hub Terms.</li>
      <li>The Hub Terms are governed by and will be construed in accordance with the laws of New South Wales,
        Australia. You submit to the jurisdiction of the courts of New South Wales, Australia.</li>
    </ol>
  </div>