<footer class="page__footer">
  <div class="container-fluid text-light bg-primary pt-4">
    <div class="container">
      <div class="d-flex flex-wrap justify-content-lg-between">
        <div class="block block--tfnsw-opendata-theme-contact block--system-menu pe-5">
          <h5 class="text-text-light-emphasis">CONTACT </h5>
          <ul id="block-tfnsw-opendata-theme-contact" class="nav flex-column"
            style="--bs-nav-link-padding-x: 0rem; --bs-nav-link-padding-y: 0.4rem;">
            <li class="nav-item">
              <a href="https://twitter.com/DataTfNSW" class="nav-link">@DataTfNSW</a>
            </li>
            <li class="nav-item">
              <a href="mailto:opendataprogram@transport.nsw.gov.au" class="nav-link">Feedback &amp; Suggestions</a>
            </li>
            <li class="nav-item">
              <a href="mailto:opendataprogram@transport.nsw.gov.au" class="nav-link">General Enquiry</a>
            </li>
          </ul>
        </div>
        <div class="block block--tfnsw-opendata-theme-support block--system-menu pe-5">
          <h5 class="text-text-light-emphasis">SUPPORT</h5>
          <ul id="block-tfnsw-opendata-theme-support" class="nav flex-column"
            style="--bs-nav-link-padding-x: 0rem; --bs-nav-link-padding-y: 0.4rem;">
            <li class="nav-item">
              <a href="https://opendataforum.transport.nsw.gov.au" class="nav-link">Forum</a>
            </li>
            <li class="nav-item">
              <a href="mailto:OpenDataHelp@transport.nsw.gov.au" class="nav-link">Support</a>
            </li>
            <li class="nav-item">
              <a href="/faqs" class="nav-link" data-drupal-link-system-path="faqs">FAQs</a>
            </li>
            <li class="nav-item">
              <a href="/developers/troubleshooting" class="nav-link">Troubleshooting</a>
            </li>
          </ul>
        </div>
        <div class="block block--tfnsw-opendata-theme-legal block--system-menu pe-5">
          <h5 class="text-text-light-emphasis">LEGAL</h5>
          <ul id="block-tfnsw-opendata-theme-legal" class="nav flex-column"
            style="--bs-nav-link-padding-x: 0rem; --bs-nav-link-padding-y: 0.4rem;">
            <li class="nav-item">
              <a href="/sites/default/files/2024-09/TfNSW-Open-Data-Portal-Terms.pdf" class="nav-link">Terms</a>
            </li>
            <li class="nav-item">
              <a href="/sites/default/files/2024-09/TfNSW-Privacy.pdf" class="nav-link">Privacy Policy</a>
            </li>
            <li class="nav-item">
              <a href="/sites/default/files/2024-09/TfNSW-Acceptable-Use-Policy.pdf" class="nav-link">Acceptable Use
                Policy</a>
            </li>
            <li class="nav-item">
              <a href="/datalicence" class="nav-link">Data Licence</a>
            </li>
          </ul>
        </div>
        <div class="block block--tfnsw-opendata-theme-follow block--system-menu pe-5">
          <h5 class="text-text-light-emphasis">FOLLOW</h5>
          <ul id="block-tfnsw-opendata-theme-follow" class="nav flex-column"
            style="--bs-nav-link-padding-x: 0rem; --bs-nav-link-padding-y: 0.4rem;">
            <li class="nav-item">
              <a href="https://twitter.com/DataTfNSW" class="nav-link">X (formerly Twitter)</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="d-flex flex-wrap justify-content-md-between align-items-md-center">
        <div class="footer__serpent d-flex align-items-center justify-content-between w-100">
          <p>Transport for NSW recognise and celebrate the diversity of Aboriginal peoples and their ongoing cultures
            and care of Country. We pay respect to traditional custodians and Elders past and present.</p>
          <img alt="Serpent" width="25%" height="auto"
            src="/data/serpent-logo.png">
        </div>
      </div>
    </div>
  </div>
</footer>
