<footer class="site-footer">
  <div class="colour-stripe"><img
      src="/static/colour-stripe.png"
      alt="Colour Stripe"></div>
  <div class="container footer-menus">
    <div class="row">
      <div class="col-xs-6 col-sm-6 col-md-3 footer-menus-column">
        <div class="row">
          <ul id="footer-1">
            <li class="menu-1346 active-trail first active"><a href="/node" title="HEADING"
                class="active-trail active">Open Data</a></li>
            <li class="menu-1508 last"><a href="/general-information" title="">General Information</a></li>
          </ul>
        </div>
        <div class="row">
          <ul id="footer-5" role="navigation">
            <li class="menu-1339 active-trail first active"><a href="/node" title="HEADING"
                class="active-trail active">Contact Us</a></li>
            <li class="menu-1520"><a href="mailto:opendataprogram@transport.nsw.gov.au?subject=Open Data enquiry"
                title="">General Enquiry</a></li>
            <li class="menu-1521"><a href="https://twitter.com/DataTfNSW" title="" target="_blank">@DataTfNSW</a></li>
            <li class="menu-2568 last"><a href="/open-data-request" title="">Data Request</a></li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 footer-menus-column">
        <ul role="navigation">
          <li class="menu-1345 active-trail first active"><a href="/node" title="HEADING"
              class="active-trail active">Developers</a></li>
          <li class="menu-1509"><a href="/developer-information" title="">Developer Information</a></li>
          <li class="menu-1510"><a href="/dataset" title="">Data Catalogue</a></li>
          <li class="menu-1511"><a href="/get-started" title="">Get Started</a></li>
          <li class="menu-1512"><a href="/documentation" title="">Documentation</a></li>
          <li class="menu-1614 last"><a href="https://opendata.transport.nsw.gov.au/dataset/tfnsw-trip-planning-widget"
              title="">Widget</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 footer-menus-column">
        <ul role="navigation">
          <li class="menu-1342 active-trail first active"><a href="/node" title="HEADING"
              class="active-trail active">Support</a></li>
          <li class="menu-1514"><a href="https://opendataforum.transport.nsw.gov.au/" title="" target="_blank">Forum</a>
          </li>
          <li class="menu-1515"><a href="mailto:OpenDataHelp@transport.nsw.gov.au?subject=Open Data inquiry"
              title="">Support</a></li>
          <li class="menu-1516"><a href="/faqs" title="">FAQs</a></li>
          <li class="menu-1517 last"><a href="/troubleshooting" title="">Troubleshooting</a></li>
        </ul>
      </div>
      <div class="col-xs-6 col-sm-6 col-md-3 footer-menus-column">
        <div class="row">
          <ul role="navigation">
            <li class="menu-1340 active-trail first active"><a href="/node" title="HEADING"
                class="active-trail active">Legal</a></li>
            <li class="menu-1615"><a
                href="https://opendata.transport.nsw.gov.au/sites/default/files/TfNSW-Open-Data-Portal-Terms.pdf"
                title="">Terms</a></li>
            <li class="menu-1616"><a href="https://opendata.transport.nsw.gov.au/sites/default/files/TfNSW-Privacy.pdf"
                title="">Privacy Policy</a></li>
            <li class="menu-1617"><a
                href="https://opendata.transport.nsw.gov.au/sites/default/files/TfNSW-Acceptable-Use-Policy.pdf"
                title="">Acceptable Use Policy</a></li>
            <li class="menu-1519 last"><a href="/data-licence" title="">Data Licence</a></li>
          </ul>
        </div>
        <div class="row">
          <ul role="navigation">
            <li class="menu-2931 active-trail first active"><a href="/node" title="" class="active-trail active">Follow
                us</a></li>
            <li class="menu-2932"><a href="https://twitter.com/DataTfNSW" title="" target="_blank"><img
                  src="/static/Twitter.png"></a>
            </li>
            <li class="menu-2933 last"><a href="" title="" target="_blank"><img height="18px"
                  src="/static/youtube.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <!--div id="backtotop"><a href="#top">Back to top</a></div-->
  </div>

  <!-- footer banner -->
  <div class="footer-banner">
    <div class="container">
      <div class="row">
        <div class="col-sm-2 col-md-2 col-lg-3 footer-banner-column"></div>
        <div class="col-xs-7 col-sm-6 col-md-6 col-lg-5 footer-banner-column">Transport for NSW recognise and
          celebrate the diversity of Aboriginal peoples and their ongoing cultures and care of Country. We pay
          respect to traditional custodians and Elders past and present.</div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-1 footer-banner-column"><img
            src="https://transportnsw.info/themes/custom/tfnsw_bootstrap/assets/images/serpent-logo.png"
            alt="Serpent Logo" style="width:8em;"></div>
        <div class="col-xs-2 col-sm-2 col-md-2 col-lg-3 footer-banner-column">
          <ul>
            <li><a href="http://www.nsw.gov.au/" target="_blank"><img
                  src="/static/footer-banner-logo-2.png"></a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>