{% set dataset_type = h.default_package_type() %}
{% block header_wrapper %} {% block header_account %}

    {% block header_account_container_content %} 
    {% if c.userobj and c.userobj.sysadmin %}
    <div class="account-masthead">
      <div class="container">
        <div class="account avatar authed" data-module="me" data-me="{{ c.userobj.id }}">
          <ul class="list-unstyled">
            {% block header_account_logged %} 
            <li>
              <a href="{{ h.url_for('admin.index') }}" title="{{ _('Sysadmin settings') }}">
                <i class="fa fa-gavel" aria-hidden="true"></i>
                <span class="text">{{ _('Admin') }}</span>
              </a>
            </li>
            <li>
              <a href="/data/organization/" title="Organizations">
                <i class="fa fa-sitemap"></i>
                <span class="text">Organizations</span>
              </a>
            </li>
            <li>
              <a href="/data/group/" title="Groups">
                <i class="fa fa-users"></i>
                <span class="text">Groups</span>
              </a>
            </li>
                {% block header_account_profile %}
                <li>
                  <a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="image" title="{{ _('View profile') }}">
                    {{ h.user_image((c.user if c and c.user else ''), size=22) }}
                    <span class="username">{{ c.userobj.display_name }}</span>
                  </a>
                </li>
                {% endblock %}
                {% block header_dashboard %}
                <li>
                  <a href="{{ h.url_for('dashboard.datasets') }}" title="{{ _(" View dashboard") }}">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    <span class="text">{{ _('Dashboard') }}</span>
                  </a>
                </li>
                {% endblock %}
                {% block header_account_settings_link %}
                <li>
                  <a href="{{ h.url_for('user.edit', id=c.userobj.name) }}" title="{{ _('Profile settings') }}">
                    <i class="fa fa-cog" aria-hidden="true"></i>
                    <span class="text">{{ _('Profile settings') }}</span>
                  </a>
                </li>
                {% endblock %} 
                {% block header_account_log_out_link %}
                <li>
                  <a href="{{ h.url_for('user.logout') }}" title="{{ _('Log out') }}">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    <span class="text">{{ _('Log out') }}</span>
                  </a>
                </li>
                {% endblock %}
          {% endblock %}
      </ul>
        </div>
      </div>
    </div>
    {% endif %} 
  {% endblock %}
{% endblock %}

<header class="masthead drupal-theme">
  {% block header_debug %} {% if g.debug and not g.debug_supress_header %}
  <div class="debug">Blueprint : {{ g.blueprint }}<br />View : {{ g.view }}</div>
  {% endif %} {% endblock %}
  {# Had to copy this from DKAN/Drupal and remove the CKAN style which is gross but no time #}
  <div class="ms-auto">
    <nav class="navbar navbar-expand-lg justify-content-between navbar-dark  bg-primary" data-bs-theme="dark">
      <div class="container">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#topbar-nav" aria-controls="topbar-nav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div id="topbar-nav" class="collapse navbar-collapse">
          <div class="ms-auto d-flex d-flex flex-column flex-lg-row justify-content-end">
            <div class="block block--tfnsw-opendata-theme-tfnswckanloginblock">
              <ul class="navbar-nav drupal-theme ">
                {% if not c.userobj %}
                <li class="nav-item"><a href="{{ h.url_for('user.login', id=c.userobj.name) }}" class="nav-link drupal-theme">Login</a></li>
                <li class="nav-item"><a href="{{ h.url_for('user.register', id=c.userobj.name) }}" class="nav-link drupal-theme">Register</a></li>
                {% else %}
                <li class="nav-item"><a href="{{ h.url_for('user.read', id=c.userobj.name) }}" class="nav-link drupal-theme">{{
                    c.userobj.name }}</a></li>
                <li class="nav-item"><a href="{{ h.url_for('user.logout') }}" class="nav-link drupal-theme">Logout</a></li>
                {% endif %}
              </ul>
            </div>
            <div class="block block--tfnsw-opendata-theme-search block--system-menu">
              <ul class="navbar-nav drupal-theme nav">
                <li class="nav-item dropdown">
                  <a href="/relatedlinks" class="nav-link drupal-theme  dropdown-toggle"
                                          data-bs-toggle="dropdown">Related Links</a>
                  <div class=" dropdown-menu">
                    <a href="https://www.transport.nsw.gov.au" class=" dropdown-item">Transport for
                      NSW</a>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>


  <!--nav menu-->
  <nav class="navbar navbar-expand-lg justify-content-between navbar-light  bg-light" data-bs-theme="light">
    <div class="container">
      <div class="block block--tfnsw-opendata-theme-site-branding block--system-branding">
        <a href="/" class="navbar-brand d-flex align-items-center py-0" aria-label="">
          <img src="{{ h.url_for_static('logo.svg') }}" width="240" alt="Transport Open Data logo" class="me-2">
        </a>
      </div>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-main" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbar-main" class="collapse navbar-collapse">
        <div class="ms-auto">
          <div class="block block--tfnsw-opendata-theme-main-menu block--system-menu">
            <ul class="nav navbar-nav">
              <li class="nav-item">
                <a href="/about" class="nav-link" data-drupal-link-system-path="node/45">About</a>
              </li>
              <li class="nav-item dropdown">
                <a href="/browse" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Browse</a>
                <div class="dropdown-menu">
                  <a href="/data/dataset/" class="dropdown-item">Data Catalogue</a>
                  <a href="/data/dataset/?tags=geospatial" class="dropdown-item"
                    data-drupal-link-query="{&quot;tags&quot;:&quot;geospatial&quot;}">Geospatial</a>
                  <a href="/data/dataset/?tags=insights" class="dropdown-item"
                    data-drupal-link-query="{&quot;tags&quot;:&quot;insights&quot;}">Insights</a>
                  <a href="/curatedviews" class="dropdown-item" data-drupal-link-system-path="node/49">Curated Views</a>
                  <a href="/gtfs-studio/" class="dropdown-item">GTFS Studio</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="/menudevelopers" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Developers</a>
                <div class="dropdown-menu">
                  <a href="/developers" class="dropdown-item" data-drupal-link-system-path="developers">Developers</a>
                  <a href="/dataset-status" class="dropdown-item" data-drupal-link-system-path="dataset-status">Data Updates</a>
                  <a href="/tfnsw-apistatus" class="dropdown-item" data-drupal-link-system-path="tfnsw-apistatus">API Status</a>
                  <a href="/faqs" class="dropdown-item" data-drupal-link-system-path="faqs">FAQ</a>
                </div>
              </li>
              <li class="nav-item dropdown">
                <a href="/datainaction" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Data In Action</a>
                <div class="dropdown-menu">
                  <a href="/datastories" class="dropdown-item" data-drupal-link-system-path="datastories">Data Stories</a>
                  <a href="/innovation" class="dropdown-item" data-drupal-link-system-path="innovation">Innovation Challenges</a>
                </div>
              </li>
              <li class="nav-item">
                <a href="/datapartnerships" class="nav-link" data-drupal-link-system-path="node/28">Data Partnerships</a>
              </li>
              <li class="nav-item dropdown">
                <a href="/forum" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">Forum</a>
                <div class="dropdown-menu">
                  <a href="/blog" class="dropdown-item" data-drupal-link-system-path="blog">Blog</a>
                  <a href="https://opendataforum.transport.nsw.gov.au" class="dropdown-item">Forum</a>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!--nav menu-->

</header>
{% endblock %}
