{% ckan_extends %}

{# This snippet creates an Additional Info Table on the Dataset page,

extras is a list of tuples of the form (key, value)

This was added to support hyper link in the extras field, if the value starts with https://, it will be treated as a hyperlink, else a regular field
#}

{% block extras %}
    {% set extras = pkg_dict.extras %}
        {% for extra in extras %}
            {% set key = extra.key  %}
            {% set value = extra.value %}
            <tr rel="dc:relation" resource="_:extra{{ i }}">
            <th scope="row" class="dataset-label" property="rdfs:label">{{ _(key|e) }}</th>
            {% if h.is_url(value) %}
                <td class="dataset-details"><a href={{ value }} target="_blank" >{{ value }}</a></td>
            {% else %}
                <td class="dataset-details" property="rdfs:label" >{{ value }}</td>
            {% endif %}
            </tr>
        {% endfor %}

{% endblock %}